.button {
    cursor: pointer;
    border-radius: 100vmax;
    text-decoration: none;
    display: inline-flex;

    &:hover,
    &:focus-visible { opacity: 50%; }

    &[data-type="inverted"] {
        
    }
}